@model ReleaseNotes.Models.EmailFormModel
@{
    ViewBag.Title = "Release Notes";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ReleaseTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReleaseTitle)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseNotes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.ReleaseNotes, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReleaseNotes)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Generate Release Notes" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}