@model ReleaseNotes.Models.ResultsModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">



</div>

<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Jira Id</td>
                <td>Assignee</td>
                <td>Summary</td>
                <td>Status</td>
            </tr>
        </thead>
        @foreach (var x in Model.JiraIssues)
        {
            <tr>
                <td>@x.Key</td>
                <td>@x.Assignee</td>
                <td>@x.Summary</td>
                <td>@x.Status</td>
            </tr>
        }

    </table>
    <br />
    E.g.: 20170529
    @using (Html.BeginForm("GetByDate", "Home", FormMethod.Get))
    {
        @Html.TextBox("releaseLabel", null, new { @class = "form-control" });

        <input type="submit" value="Get Release" class="form-control" />
    }
    
    @using (Html.BeginForm("GenerateEmail", "Home", FormMethod.Post))
    {
        <input type="submit" value="Generate Email" class="form-control" />
    }


</div>